@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-nav {
  background-color: #5b2f87;
}

#results {
  position: absolute;
}

.searchbar-alignment {
  top: 44px;
  z-index: 9999;
}

.cursor-pointer {
  cursor: pointer;
}

.min-width-500px {
  min-width: 400px;
}

.nice-color {
  background-color: rgb(242, 228, 255);
}

.btn-color {
  background-color: rgb(187, 233, 255);
}

.btn-color:hover {
  background-color: rgb(98, 205, 255);
}

.btn-color-2 {
  background-color: rgb(203, 191, 255);
}

.btn-color-2:hover {
  background-color: rgb(131, 103, 255);
}

.btn-color-3 {
  background-color: rgb(255, 163, 223);
}

.btn-color-3:hover {
  background-color: rgb(255, 99, 200);
}

.btn-color-dark {
  background-color: rgb(93, 23, 23);
}

.btn-color-dark:hover {
  background-color: rgb(150, 36, 36);
}

.btn-color-light {
  background-color: rgb(255, 255, 255);
}

.btn-color-light:hover {
  background-color: rgba(176, 164, 164, 0.637);
}

.btn-delete {
  background-color: rgb(255, 148, 148);
}

.btn-delete:hover {
  background-color: rgb(255, 99, 200);
}

.border {
  border: #5b2f87;
}

.border-grey {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

.clean-link {
  color: inherit;
  text-decoration: none;
}

.width-125px {
  width: 125px;
}

.width-30 {
  width: 30%;
  max-width: 150px;
}

.mw-150px {
  max-width: 150px;
}

.width-175px {
  width: 175px;
}

.width-50 {
  width: 50%;
}

.width-95 {
  width: 95%;
}

.textarea-height-200 {
  height: 200px;
}

.border-none {
  border: none;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-grey {
  color: rgba(255, 255, 255, 0.55);
}

.searchbar-height {
  height: 25px;
}

.cursor-arrow {
  cursor: default;
}

/* .width-100 {
  width: 100%;
} */

.max-width-350 {
  max-width: 350px;
}

.max-width-250 {
  max-width: 250px;
}

.max-width-500 {
  max-width: 1000px;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-150 {
  min-width: 150px;
}

.width-200 {
  width: 200px;
}

.height-250 {
  height: 250px;
}

.color-light {
  background-color: #fffbeb;
}

.color-light:hover {
  background-color: #fff2bc;
}

.color-light-2 {
  background-color: #ffe7cc;
}

.color-light-2:hover {
  background-color: #ffc481;
}

.color-medium {
  background-color: #e1d4bb;
}

.color-medium-2 {
  background-color: #db96dd;
}

.color-medium-2:hover {
  background-color: #d86edc;
}

.color-dark {
  background-color: #537188;
}

.color-dark-2 {
  background-color: #8ba9c2;
}

.color-secondary {
  background-color: #a0cff3;
}

.color-secondary:hover {
  background-color: #67b3ed;
}

.FFE7CC {
  background-color: #ffe7cc;
}

.navbar-color {
  background: linear-gradient(to right, #537188, #b867bb);
}

.box-shadow {
  box-shadow: 0 0 5px rgba(184, 168, 168, 0.5);
}

.box-shadow-2 {
  box-shadow: 0 2px 2px rgba(103, 97, 97, 0.5);
}

.navbar-brand {
  font-size: 24px;
  padding: 0px;
}

.margin-left-2 {
  margin-left: 5%;
}

.margin-2 {
  margin: 0 2%;
}

.padding-0 {
  padding: 0;
}

.filter-column-width {
  width: 20%;
}

.rdetails-body-width {
  width: 65%;
}

.header-image {
  width: 40px;
  border-radius: 50%;
}

.signature {
  height: 100px;
}

.resource-image {
  height: 100px;
}

.white-background {
  background-color: #ffffff;
}

.profile-dropdown {
  background-color: transparent;
  border: none;
}

.profile-dropdown:hover {
  background-color: transparent;
  border: none;
}

#profile-dropdown {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
}

.navbar-padding {
  padding-left: 20px;
}

.navbar-dflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-dflex-inner {
  display: flex;
  flex-direction: row;
}


/* All resources subjects dropdown */

.subjects-ul {
  list-style-type: none;
  padding-left: 0;
}

.nested-subjects-ul {
  list-style: none;
  padding-left: 0px;
}

.subjects-li {
  border-top: 1px solid #e9ecef;
}

.subjects-li-contents {
  display: flex;
  align-items: center;
  position: relative;
  transition: background 0.3s;
}

.subjects-li-contents:hover {
  background: #cdcbc4;
}

.subjects-container {
  position: relative;
  height: auto;
  border-top: 0;
}

#check_id {
  position: absolute;
  left: -9999px;
}

#check_id_label {
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
  border-radius: 7px;
}

#check_id_label:before {
  content: "See all";
  left: 10px;
}

#check_id_label:after {
  content: "⇣";
  right: 10px;
}

#check_id_label:before,
#check_id_label:after {
  position: absolute;
}

#check_id ~ ul {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
}

#check_id:checked ~ ul {
  max-height: 1800px;
}

#check_id:checked + label {
  top: 100%;
}

#check_id:checked + label:before {
  content: "Less";
}

#check_id:checked + label:after {
  content: "⇡";
}

.subjects-border {
  border-right: 1px solid rgb(215, 215, 215);
}

/* responsive */

@media (max-width: 992px) {
  .sortBy {
    padding: 10px 0px;
    border-top: 1px solid rgb(230, 230, 230);
  }

  .searchbar-alignment {
    top: 75px;
  }

  .width-100 {
    width: 150px;
  }

  .hidden-narrow {
    display: none;
  }

  .padding-0 {
    display: block;
    margin: 0px;
    text-align: left;
  }

  .navbar-padding {
    padding-left: 0px;
  }

  .navbar-dflex {
    display: block;
  }

  .navlink-thin {
    padding: 2px;
  }

  .navbar-dflex-inner {
    display: block;
  }

  .margin-2 {
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .hidden-wide {
    display: none;
  }

  .responsive-navitem {
    color: black;
  }

  .dropdown-item .nav-link.active {
    color: black;
  }
}
